Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/transform/NCAA_Conference_Schedule_XML.dtd

<!ELEMENT message  (XML_File_ID , heading , category , sport , Title , Conference_Schedule , time_stamp )>

<!ELEMENT XML_File_ID  (#PCDATA )>

<!ELEMENT heading  (#PCDATA )>

<!ELEMENT category  (#PCDATA )>

<!ELEMENT sport  (#PCDATA )>

<!ELEMENT Title  (#PCDATA )>

<!ELEMENT Conference_Schedule  (Team+ )>

<!ELEMENT Team  (Listing+ )>
<!ATTLIST Team  fullname CDATA  #REQUIRED >
<!ELEMENT Listing  (#PCDATA )>

<!ELEMENT time_stamp  (#PCDATA )>

