Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/parsers/Bug6564400.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:element name='Person' type='PersonType'/>
  <xsd:complexType name='PersonType'>
                <xsd:sequence>
                        <xsd:element name='FirstName' type='xsd:string'/>
                        <xsd:element name='LastName' type='xsd:string'/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
