Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/parsers/toys.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="toys">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="toy" maxOccurs="200">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="name" type="xs:string" minOccurs="0"/>
               <xs:element name="price" type="xs:string" minOccurs="0"/>
             </xs:sequence>
          </xs:complexType>  
        </xs:element>
      </xs:sequence>
    </xs:complexType>  
  </xs:element>
</xs:schema>
