Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/functional/test/auctionportal/content/bookInfo.dtd

<!ELEMENT document ANY>
<!ELEMENT title (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT book (#PCDATA)>
<!ELEMENT bookurn (#PCDATA)>
<!ELEMENT xmlns:pages (#PCDATA)>
<!ATTLIST book price CDATA "$100">
<!ATTLIST book author CDATA "Herold">
<!ATTLIST book number ID #REQUIRED>
<!ATTLIST bookurn xmlns CDATA "10">
<!ATTLIST bookurn xmlns:isbn CDATA "10">
<!ENTITY ws "Walter Sam Communications">
<!ENTITY af "Alfred publication">
