Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/validation/tck/Bug6963124.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="G">
		<xsd:all>
			<xsd:element name="a1"/>
			<xsd:element name="a2"/>
		</xsd:all>
	</xsd:group>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:group ref="x:G" minOccurs="1" maxOccurs="2">
			</xsd:group>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

