Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/validation/Bug6954738.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="bug.report" targetNamespace="bug.report">
    <xs:complexType name="T_Document">
        <xs:sequence>
            <xs:element ref="Bug"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Document" type="T_Document"/>
    <xs:element name="Bug" type="Text"/>
    <xs:simpleType name="Text">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z ]{1,8000}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

