Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/validation/CR6740048.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="containers"><xs:complexType><xs:sequence><xs:element name="containerInfo"><xs:complexType><xs:all><xs:element name="isJ2EEContainer" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="moduleName" type="xs:string" minOccurs="0" maxOccurs="1"/><xs:element name="priority" type="xs:decimal" minOccurs="0" maxOccurs="1"/><xs:element name="classLoadPriority" type="xs:decimal" minOccurs="0" maxOccurs="1"/><xs:element name="fileNames" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="fileExtensions" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="resourceTypes" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="softwareTypes" type="string-listType" minOccurs="0" maxOccurs="1"/><xs:element name="hasGenerator" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="hasModuleDetector" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportsSingleFileUpdate" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportsLazyStart" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="supportingParallelism" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="needStartInitially" type="xs:boolean" minOccurs="0" maxOccurs="1"/><xs:element name="forceServiceStart" type="xs:boolean" minOccurs="0" maxOccurs="1"/></xs:all><xs:attribute name="name" type="xs:string" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:complexType name="string-listType"><xs:sequence><xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:schema>
