Ports/jdk/jdk-jdk-18-10/test/jaxp/javax/xml/jaxp/unittest/validation/idIxpns.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="xpns.org" xmlns:xpns="xpns.org">
	<xsd:element name="xsid" type="xsd:string"/>
	<xsd:element name="xiid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="xiid2" type="xsd:string" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="val" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
